extends /layouts/main

block body
  body(ng-controller='PageController as page')

block content
  form(name='addPost')
    label Post Title
      input(type='text', placeholder='Title')
    label Submit
      input(type='submit', value='Submit')
