extends /layouts/main

block body
  body(ng-controller='PageController as page')

block content

  article(ng-repeat='section in page.sections')
    h3 #[a(href='#') {{ section.title }}]
    h6 Written by #[a(href='#') John Smith] on August 12, 2012
    .row
      .large-6.columns
        p {{ section.content }}
      .large-6.columns
        img(src='http://placehold.it/400x240&text=[img]')
