extends /layouts/main

block body
  body(ng-controller='PageController as page')

block content
  .row
    .large-12.columns

      .nav-bar.right
        ul.button-group
          li #[a.button(href='#') Link 1]
          li #[a.button(href='#') Link 2]
          li #[a.button(href='#') Link 3]
          li #[a.button(href='#') Link 4]

      h1 Blog
        small This is my blog. It's awesome.

  .row
    .large-9.columns(role='content')
      article(ng-repeat='section in page.sections')
        h3 #[a(href='#') {{ section.title }}]
        h6 Written by #[a(href='#') John Smith] on August 12, 2012
        .row
          .large-6.columns
            p {{ section.content }}
          .large-6.columns
            img(src='http://placehold.it/400x240&text=[img]')

    aside.large-3.columns
      h5 Categories
        ul.side-nav
          li #[a(href='#') News]
          li #[a(href='#') Code]
          li #[a(href='#') Design]
          li #[a(href='#') Fun]

        .panel
          h5 Featured
            p Featured Sample Text
