extends /layouts/main

block body
  body(ng-controller='PageController as page')

block content
  form(name='create_post',method='post',action='/api/post/create')
    label Post Title
      input(type='text', placeholder='Title')
    input(type='submit', value='Submit')
